<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>

    <body>
        
        <div class="container mt-6">
            <h1>Negocio de Yamil</h1>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul	class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link " href="/index"> Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/listarempresa"> Empresa</a>
                        </li>
                        <li	class="nav-item">
                            <a	class="nav-link" href="/listardepartamento"> Departamento</a>
                        </li>
                        <li	class="nav-item">
                            <a	class="nav-link" href="/listarempleados">Empleados</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        
        
        <div class="container mt-6">
            <a th:href="@{/newempresa}" class="btn btn-primary">Nuevo</a>
            <table class="table" >
                <thead style="background-color: #5BA5EA">
                    <tr>
                        <th>Id Empresa</th>
                        <th>Nombre Empresa</th>
                        <th>Direccion</th>
                        <th>Ciudad </th>
                        <th>Codigo Postal</th>
                        <th>Telefono </th>
                        <th>Email </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p:${empresa}">
                        <td th:text="${p.idEmpresa}"></td>
                        <td th:text="${p.nombreEmpresa}"></td>
                        <td th:text="${p.direccion}"></td>
                        <td th:text="${p.ciudad}"></td>
                        <td th:text="${p.codigopostal}"></td>
                        <td th:text="${p.telefono}"></td>
                        <td th:text="${p.email}"></td>
                        <td>

                            <a class="btn btn-danger" 
                               th:href="@{/editarempresa/}+${p.idEmpresa}"
                               >editar</a>
                            <a  
                               class="btn btn-warning"
                               th:href="@{/eliminarempresa/}+${p.idEmpresa}"
                               >eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
              
        
        <div class="container mt-6">
            <h3>Datos del Estudiante: Farfan yamil</h3e>
        </div>
    </body>

</html>
